.seccion-historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 10%;
    gap: 2rem;
}

.seccion-historia__titulo, .seccion-mvv__titulo {
    color: var(--bordo);
    text-shadow: var(--titulo-sombra);
}

.seccion-mvv {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.contenedor {
    display: grid;
    gap: 4rem;
    padding: 0 10%;
}

.articulo-mvv {
    display: grid;
}

.articulo-mvv__imagen {
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.articulo-mvv__informacion {
    padding: 4rem;
    color: white;
    border-radius: 0 0 15px 15px;
}

.articulo-mvv__informacion--mision {
    background-color: var(--bordo-oscuro);
}

.articulo-mvv__informacion--vision {
    background-color: var(--marron);
}

.articulo-mvv__informacion--valores {
    background-color: var(--naranja);
}

@media (min-width: 1024px) {

    .contenedor {
        grid-template-rows: repeat(3, 1fr);
    }

    .articulo-mvv {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        overflow: hidden;
    }

    .articulo-mvv__imagen {
        border-radius: 15px 0 0 15px;
    }

    .articulo-mvv__informacion {
        border-radius: 0 15px 15px 0;
    }
}